services:
  init:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    working_dir: /app
    volumes:
      - .:/app
    command: pnpm install --no-frozen-lockfile
    environment:
      - CI=true
    env_file:
      - .env

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    working_dir: /app
    depends_on:
      init:
        condition: service_completed_successfully
    volumes:
      - .:/app
    command: pnpm --filter api dev
    ports:
      - "4000:4000"
    environment:
      - CI=true
      - PORT=4000
      - NODE_ENV=development
      - MONGO_URI=${MONGO_URI}
      - CORS_ORIGIN=${CORS_ORIGIN}
    env_file:
      - .env

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    working_dir: /app
    depends_on:
      init:
        condition: service_completed_successfully
    volumes:
      - .:/app
    command: pnpm --filter web dev
    ports:
      - "3000:3000"
    environment:
      - CI=true
      - NODE_ENV=development
      - API_URL=http://api:4000
