services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      - CI=true
      - NODE_ENV=production

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://localhost:4000}
    environment:
      - CI=true
      - NODE_ENV=production
